body {
	background-image: url(../images/achtergrondmobiel.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.tekstbox {
	background-color: #EAEAEA;
	width: 80%;
	margin-left: auto;
    margin-right: auto;
	padding: 5%;
	box-shadow: 1px 4px 10px black;
}


@media screen and (min-width: 700px){
	.textbox {
		width: 65%;
	}
}

@media screen and (min-width: 1200px) {
	.textbox {
		width: 55%;
		padding: 3%;
	}
	
	body {
		background-image: url(../images/achtergrondlaptop.jpg);
		background-position: center;
	}
}

@media screen and (min-width: 1900px){
	.textbox {
		width: 50%;
		padding: 2%;
	}
}

