body {
	background-color: red;
	background-image: url(../images/bannermobiel.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -20px 0px;
	height: 100vh; 
	width: 100%;
}

.parralax{
	position: relative;
	height: 100vh;
	width: 100%;
}

.intro {
	background-color: #8A7090;
	line-height: 35px;
	color: white;
	padding: 5%;
	font-size: 18px;
}

#pijl {
	position: absolute;
	width: 20%;
	height: auto;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

@media screen and (min-width: 700px){
	body{
		background-image: url(../images/bannertablet.png);
		background-position: top;
	}
	
}

@media screen and (min-width: 1200px) {
	#pijl {
		width: 5%;
		margin-top: 400px;
		margin-bottom: 10%;
	}
	
	body {
		background-position: 0px 0px;
		background-image: url(../images/bannerlaptop.png);
	}

}
