body {
	background-image: url(../images/bannermobiel.png);
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.intro {
	background-color: #2C4251;
	line-height: 35px;
	color: #EAEAEA;
	padding: 5%;
	font-size: 18px;
}

#pijl {
	width: 20%;
	margin-left: auto;
    margin-right: auto;
	margin-top: 500px;
	margin-bottom: 20%;
	display: block;
}

@media screen and (min-width: 700px){
	#pijl {
		width: 15%;
		margin-top: 770px;
	}
	
	body{
		background-image: url(../images/bannertablet.png);
		background-position: top;
	}
	
}

@media screen and (min-width: 1200px) {
	#pijl {
		width: 5%;
		margin-top: 400px;
		margin-bottom: 10%;
	}
	
	body {
		background-position: 0px 0px;
		background-image: url(../images/bannerlaptop.png);
	}

}
