body {
	font-family: Bahnschrift, Arial;
	margin: 0;
	font-weight: lighter;
}

p {
	line-height: 30px;
	font-size: 18px;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	color: #6F9296;
	font-size: 40px;
}

h3 {
	font-size: 25px;
	font-weight: lighter;
	font-variant: small-caps;
}

header {
	position: fixed;
	top: 0;
	text-align: center;
	background-color: white;
	width: 100%;
	margin-bottom: 5%;
	text-transform: uppercase;
	box-shadow: 0px -6px 15px black;
	display: flex;
	padding-top: 3%;
	padding-bottom: 3%;
	z-index: 1;
}

.header-item {
	text-decoration: none;
	color: black;
	border-bottom: 2px transparent solid;
	border-top: 2px transparent solid;
	padding: 0.5%;
	opacity: 1;
	flex: 1;
}

.header-item:hover {
	border-bottom: 2px #1F2232 solid;
	border-top: 2px #1F2232 solid;
	color: #1F2232;
}

.actief {
	color: #1F2232;
	font-weight: bold;
}

main {
	padding-top: 10%; 
}

@media screen and (min-width: 700px){
	main{
		padding-top: 9%; 
	}
	
	
@media screen and (min-width: 1200px) {
	main{
		padding-top: 7%; 
	}
	
	p {
	font-size: 17px;
	}
	
	.header {
		padding-top: 1%;
		padding-bottom: 1%;
	}	
}

@media screen and (min-width: 1900px){
	main{
		padding-top: 6%; 
	}

}

 




