
.flex-item {
	text-align: center;
}

.tekst {
	background-color: #EAEAEA;
	padding: 5%;
	box-shadow: 1px 4px 10px black;
}

.mySlides, .Slides{
	width: 100%;
}

.slider {
	padding: 0;
}

.achtergronddesign {
	background-image: url(../images/achtergronddesign.jpg);
	background-attachment: fixed;
	min-height: 200px;
	background-size: auto;
	background-repeat: no-repeat;
}

@media screen and (min-width: 700px){
	.flex-container {
		display: flex;
	}

	.flex-item {
		flex: 1;
	}
}
	
	
@media screen and (min-width: 1200px) {
	
	
}

@media screen and (min-width: 1900px){
	

}

