
.flex-item {
	text-align: center;
}

.tekst {
	padding: 20px;
}

.mySlides{
	width: 100%;
	height:100%;
}

.achtergronddesign {
	background-image: url(../images/achtergronddesignmobiel.jpg);
	background-attachment: fixed;
	min-height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top; 
}

.pijl {
	height: 100px;
}

.ikals {
	background-color: #F4F9F9;
}

.hobby{
	background-color: #F4F9F9;
}

@media screen and (min-width: 700px){
	.flex-container {
		display: flex;
	}

	.flex-item {
		flex: 1;
	}
}
	
	
@media screen and (min-width: 1200px) {
	.achtergronddesign {
		display: none;
	}
	
	.grid-container {
		display: grid;
		grid-template-columns: 3fr 2fr 3fr;
	}
	
	.grid-item {
		margin: 5px;
	}
	
	.kop {
		grid-column-start: 1;
		grid-row-start: 1;
		grid-column-end: 4;
	}
	
	.ikals {
		grid-column-start: 1;
		grid-row-start: 2;
		grid-row-end: 4;
		border-bottom: 2px solid #EAEFEF;
		border-right: 2px solid #EAEFEF;
		background-color: white;
	}
	
	.doel {
		grid-column-start: 2;
		grid-row-start: 2;
		grid-column-end: 4;
		border-bottom: 2px solid #EAEFEF;
		border-left: 2px solid #EAEFEF;
	}
	
	.slider {
		grid-column-start: 2;
		grid-row-start: 3;
		grid-column-end: 4;
		border-bottom: 2px solid #EAEFEF;
		border-left: 2px solid #EAEFEF;
		border-top: 2px solid #EAEFEF;
	}

	.kenmerken {
		grid-column-start: 1;
		grid-row-start: 4;
		grid-column-end: 3;
		border-top: 2px solid #EAEFEF;
		border-right: 2px solid #EAEFEF;
	}
	
	.hobby{
		grid-column-start: 3;
		grid-row-start: 4;
		border-top: 2px solid #EAEFEF;
		border-left: 2px solid #EAEFEF;
		background-color: white;
}


@media screen and (min-width: 1900px){
	

}

