main {
	padding-top: 20%;
}

body {
		
		background-color: #f5f5f5 ;
	}

.boven2{
	display: grid;
	grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
	width: 100%;
}

.button2 {
	flex:1;
	background-color: transparent;
	border: none;
}

.buttonimg {
	width: 40%;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40%;
}

button {
	background-color: #832161;
	border: none;
	border-radius: 10px;
	font-family: Bahnschrift, Arial;
	padding: 1%;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 15%;
}


h2 {
	color: #343633;
	flex: 5;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

h3 {
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: white;
}

.link {
	color: #832161;
	font-style: bold;
	
}

.tekst {
	padding: 20px;
}

.grid-item {
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border: 2px solid #E9E9E9;
	margin-top: 10px;
	margin-bottom: 10px;
}

video {
	
	padding: 0;
	width: 100%;
}

.imperiumwebsite {
	background-image: url(../images/imperiumwebsite.png);
}

.imperiumschets {
	background-image: url(../images/imperiumschets.png);
}

.imperiumcode {
	background-image: url(../images/imperiumcode.png);
}

.ruimteschip1 {
	background-image: url(../images/ruimteschip1.jpg);
}

.ruimteschip2 {
	background-image: url(../images/ruimteschip2.jpg);
}

.ruimteschip3 {
	background-image: url(../images/ruimteschip3.png);
}

.kaassite {
	background-image: url(../images/kaassite.png);
}

.logomalty{
	background-image: url(../images/logomalty.png);
}

.websitemalty{
	background-image: url(../images/malty1.png);
}

.visitekaartje{
	background-image: url(../images/maltyvisitekaartje.jpeg);
	background-position: center;
}

.middinwire{
	background-image: url(../images/middinwire.jpg);
}

.middinlofi{
	background-image: url(../images/middinlofi.png);
	background-position: center;
}

.middinstoryboard{
	background-image: url(../images/middinstoryboard.png);
	
}

.fotoblog{
	background-image: url(../images/maltyblog.png);
	background-position: right;
}

.feliloposter{
	background-image: url(../images/feliloposter.png);
}

.feliloklik{
	background-image: url(../images/feliloklik.png);
}

.feliloschermen{
	background-image: url(../images/feliloschermen.png);
}

.felilowire{
	background-image: url(../images/felilowire.png);
	background-position: bottom;
}
	
	

@media screen and (min-width: 700px){
	
	main {
		padding-top: 12%; 
	}
	
	.buttonimg {
		width: 15%;
	}
	
	.tekst {
		padding-left: 70px;
		padding-right: 70px;
	}
	
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	
	.grid-item {
		margin: 10px;
	}
	
	.beschrijving {
		background-color: #242424;
	}
	
	.beschrijving p {
		color: #f5f5f5;
	}
	
	.beschrijving h3 {
		color: #f5f5f5;
	}
	
	video{
		
	}
}

@media screen and (min-width: 1200px) {
	main {
		padding-top: 6%; 
	}
	
	.buttonimg {
		width: 9%;
	}
	
	.tekst{
		padding-left: 15%;
		padding-right: 15%;
	}
	
	.grid-item {
		height: 300px;
	}

	
	
}
