.grid-container {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 80%;
}


p {
	background-color: #F5f5f5;
	border-top: 4px solid #F2E8F2;
	border-bottom: 4px solid #F2E8F2;
	padding: 20px;
	margin-top: 0;
}

h3 {
	background-color: #832161;
	margin-top: 20px;
	padding: 1%;
	margin-bottom:0;
	color: white;
	border-radius: 5px;
}

a {
	text-decoration: none;
	color: #343633;
}


@media screen and (min-width: 700px){
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 70%;
	}
	
	.grid-item {
		margin: 10px;
	}
	
	.project1{
		grid-column-start: 1;
		grid-row-start: 1;
	}
	
	.project2{
		grid-column-start: 2;
		grid-row-start: 1;
	}
	
	.project3{
		grid-column-start: 1;
		grid-row-start: 2;
	}
	
	.project4{
		grid-column-start: 2;
		grid-row-start: 2;
	}
	
	.project5{
		grid-column-start: 1;
		grid-row-start: 3;
	}
	
	.project6{
		grid-column-start: 2;
		grid-row-start: 3;
	}

	p {
		padding-left: 70px;
		padding-right: 70px;
	}
}

@media screen and (min-width: 1200px) {	

	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: 60%;
	}
	
	.project1{
		grid-column-start: 1;
		grid-row-start: 1;
	}
	
	.project2{
		grid-column-start: 2;
		grid-row-start: 1;
	}
	
	.project3{
		grid-column-start: 3;
		grid-row-start: 1;
	}
	
	.project4{
		grid-column-start: 1;
		grid-row-start: 2;
	}
	
	.project5{
		grid-column-start: 2;
		grid-row-start: 2;
	}
	
	.project6{
		grid-column-start: 3;
		grid-row-start: 2;
	}
	
	p {
		padding-left: 15%;
		padding-right: 15%;
	}
	
}